{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="stocksymbol" placeholder="Stock Symbol eg DOW" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="numshares" placeholder="# of Shares" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Buy Stock Shares</button>
            </div>
        </fieldset>
    </form>
{% endblock %}