{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h1>Home</h1>
    <table style='width:100%'>
        <thead>
            <tr>
                <td>Stock</td>
                <td># Shares</td>
                <td>Current Share Price</td>
                <td>Total Value</td>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{stock['symbol']}}</td>
                    <td>{{stock['num_shares']}}</td>
                    <td>{{stock['price']}}</td>
                    <td>{{stock['total']}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan='3'>Cash Balance</td>
                <td>{{cash}}</td>
            </tr>
            <tr>
                <td colspan='3'>Grand Total</td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
